body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4F7;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

/* TYPOGRAPHY */
h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;    
    color: #000;
    text-align: center;
    margin-bottom: 32px;
}

/* FORMS */
#registration-form, #thank-you {
    width: 100%;
    max-width: 588px;
    border: 6px solid #FFF;
    background: linear-gradient(180deg, #FBFAFB 0%, #FFF 100%);
    box-shadow: 0 0 30px rgb(205 198 219 / 30%);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    opacity: 1;
    transition: all 1s ease;
}

.form-group {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    display: inline-block;
    margin-bottom: 8px;
    flex: 1;
}

.form-group > div {
    flex: 2;
}

input {
    height: 44px;
    width: 100%;
    line-height: 44px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-indent: 16px;
}

button[type = 'submit'] {
    background: #000;
    border-radius: 8px;
    width: 300px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    position: relative;
    margin: auto;
    margin-top: 46px;
}

.error-message {
    color: #F00;
    margin-top: 4px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}


/* THANK YOU */
.check {
    display: inline-block;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
}

#registration-form.hidden, #thank-you.hidden{
    display: none;
}

#thank-you h2 {
    font-weight: 300;
    margin-top: 16px;
}

/* RESPONSIVE */
@media only screen and (max-width: 767px) {
    label {
        display: block;
    }

    .form-group { 
        display: block;
    }

    #registration-form, #thank-you {
        max-width: 80vw;
    }

    button[type = 'submit'] {
        margin-top: 16px;
    }
}